{%extends 'base.html.twig'%}


{% block body %}
	<div class="container">
	
	<h1 >View  Post</h1>
		
		<a href="../posts/" class="btn btn-primary btn-m">Back</a>
		
		<br><br>
		<h3>Title :{{ post.title }} </h3><br><br>
		<h3>Description :{{ post.description }} </h3><br><br>
		<h3>Category :{{ post.category }} </h3>
		
		
			</div>


{% endblock %}